
@{
    ViewData["Title"] = "Index";
}

<h1>Index Page</h1>

<a href="/Home/Secret">Secret page</a>

@if (User.Identity.IsAuthenticated)
{
    <a href="/Home/LogOut">Logout</a>
    <a href="/Home/Register">Register</a>
}
else
{
    <a href="/Home/Login">Login</a>
    <a href="/Home/Register">Register</a>
}
