
@{
    ViewData["Title"] = "Register";
}

    <h1>Register Page</h1>

<form action="/" method="post">
    <input type="text" name="username" value="" />
    <input type="text" name="password" value="" />
</form>