################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/RESTfulAPI/code/RESTfulApi/RESTfulApi.Api/bin/Debug/netcoreapp3.1
/RESTfulAPI/code/RESTfulApi/RESTfulApi.Api/obj/Debug/netcoreapp3.1
/RESTfulAPI/code/RESTfulApi/RESTfulApi.Api/obj
/RESTfulAPI/code/RESTfulApi/.vs/RESTfulApi/v16
/RESTfulAPI/code/RESTfulApi/.vs/RESTfulApi/DesignTimeBuild
/RESTfulAPI/code/RESTFul/.vs/RESTFul/v16
/RESTfulAPI/code/RESTFul/RESTFul.Api/obj
/RESTfulAPI/code/RESTFul/RESTFul.Api.Helper/obj
/RESTfulAPI/code/RESTFul/RESTFul.Data/bin/Debug/netcoreapp3.1
/RESTfulAPI/code/RESTFul/RESTFul.Data/obj
/RESTfulAPI/code/RESTFul/RESTFul.Data.Entities/obj
/RESTfulAPI/code/RESTFul/RESTFul.Dto/obj
/RESTfulAPI/code/RESTFul/RESTFul.MappingProfiles/obj
/RESTfulAPI/code/RESTFul/RESTFul.Models/obj
/RESTfulAPI/code/RESTFul/RESTFul.Services/obj
/RESTfulAPI/code/RESTFul/RESTFul.Api/bin/Debug/netcoreapp3.1
/RESTfulAPI/code/RESTFul/RESTFul.Api.Helper/bin/Debug/netcoreapp3.1
/RESTfulAPI/code/RESTFul/RESTFul.Data.Entities/bin/Debug/netcoreapp3.1
/RESTfulAPI/code/RESTFul/RESTFul.MappingProfiles/bin/Debug/netcoreapp3.1
/RESTfulAPI/code/RESTFul/RESTFul.Models/bin/Debug/netcoreapp3.1
/RESTfulAPI/code/RESTFul/RESTFul.Services/bin/Debug/netcoreapp3.1
/RESTfulAPI/code/RESTFul/RESTFul.Repositories/obj
/RESTfulAPI/code/RESTFul/RESTFul.Repositories/bin/Debug/netcoreapp3.1
/RESTfulAPI/code/RESTFul/.vs/RESTFul/DesignTimeBuild
/IdentityServer/code/Demo_Idp4/Demo_Idp4/bin/Debug/netcoreapp3.1
/IdentityServer/code/Demo_Idp4/.vs
/IdentityServer/code/Demo_Idp4/Demo_Idp4/obj
/IdentityServer/code/Demo_Api/.vs/Demo_Api
/IdentityServer/code/Demo_Api/Demo_Api/obj
/IdentityServer/code/Demo_Api/Demo_Api/bin/Debug/netcoreapp3.1
/IdentityServer/code/Demo_Client_ClientCredentials/.vs/Demo_Client_ClientCredentials
/IdentityServer/code/Demo_Client_ClientCredentials/Demo_Client_ClientCredentials/bin/Debug/netcoreapp3.1
/IdentityServer/code/Demo_Client_ClientCredentials/Demo_Client_ClientCredentials/obj
/IdentityServer/code/Authentication/.vs/Authentication/v16
/IdentityServer/code/Authentication/Basic/obj
/IdentityServer/code/idp4Bymyself/.vs/idp4Bymyself/v16
/IdentityServer/code/Authentication/Basic/bin/Debug/netcoreapp3.1
/IdentityServer/code/Authentication/.vs/Authentication/DesignTimeBuild
/IdentityServer/code/Authentication/IdentityExample/bin/Debug/netcoreapp3.1
/IdentityServer/code/Authentication/IdentityExample/obj
/IdentityServer/code/Authentication/Server/bin/Debug/netcoreapp3.1
/IdentityServer/code/Authentication/Server/obj
/IdentityServer/code/Authentication/Client/bin/Debug/netcoreapp3.1
/IdentityServer/code/Authentication/.vs/Authentication/config
/IdentityServer/code/Authentication/Client/obj
/IdentityServer/code/Authentication/Api/bin/Debug/netcoreapp3.1
/IdentityServer/code/Authentication/Api/obj
/IdentityServer/code/Authentication/ApiOne/bin/Debug/netcoreapp3.1
/IdentityServer/code/Authentication/ApiOne/obj
/IdentityServer/code/Authentication/ApiTwo/bin/Debug/netcoreapp3.1
/IdentityServer/code/Authentication/ApiTwo/obj
/IdentityServer/code/Authentication/IdentityServer/bin/Debug/netcoreapp3.1
/IdentityServer/code/Authentication/IdentityServer/obj
/IdentityServer/code/Authentication/MvcClient/bin/Debug/netcoreapp3.1
/IdentityServer/code/Authentication/MvcClient/obj
/IdentityServer/code/Authentication/JavascriptClient/bin/Debug/netcoreapp3.1
/IdentityServer/code/Authentication/JavascriptClient/obj
/Blazor/code/BlazorSample/BlazorServer_TodoList/bin/Debug/netcoreapp3.1
/Blazor/code/BlazorSample/BlazorServer_TodoList/obj
/Blazor/code/BlazorSample/.vs/BlazorSample/v16
