################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/RESTfulAPI/code/RESTfulApi/RESTfulApi.Api/bin/Debug/netcoreapp3.1
/RESTfulAPI/code/RESTfulApi/RESTfulApi.Api/obj/Debug/netcoreapp3.1
/RESTfulAPI/code/RESTfulApi/RESTfulApi.Api/obj
/RESTfulAPI/code/RESTfulApi/.vs/RESTfulApi/v16
