@page "/"
@inherits EmployeeListBase

@attribute [Authorize]

<h3>EmployeeList - Selected: @SelectedEmployeesCount</h3>
<input type="checkbox" id="showFooter" @bind="ShowFooter" />
<label for="showFooter">Show Footer</label>
<a href="/createemployee" class="btn btn-primary">Create Employee</a>
@if (Employees == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="card-deck">
        @foreach (var employee in Employees)
        {
            <DisplayEmployee Employee="employee" Showfooter="ShowFooter" OnEmployeeSelection="EmployeeSelectionChanged" OnEmployeeDeleted="OnEmployeeDeleted"></DisplayEmployee>
        }
    </div>
}


