<h1 style="@GrandChildStyle; @GrandChildBorderStyle">--GrandChildComponent</h1>

@code {
    [CascadingParameter(Name = "ColorStyle")]
    public string GrandChildStyle { get; set; }
    [CascadingParameter(Name = "BorderStyle")]
    public string GrandChildBorderStyle { get; set; }
}
