@page "/parent"
@inherits ParentComponentBase

<h1 style="@Style">ParentComponent</h1>

<CascadingValue Value="@Style">
    <ChildComponent InputAttributes="attributesFromParent" Value="Parent Value">
    </ChildComponent>
</CascadingValue>
@code {
    public Dictionary<string, object> attributesFromParent { get; set; } =
    new Dictionary<string, object>()
    {
            { "required", "required" },
            { "placeholder", "Parent Component Placeholder" },
            { "size", "50" },
            { "maxlength", "5" }
    };


    public string Style { get; set; } = "color:red";
}
