@page "/parent"
@inherits ParentComponentBase

<h3>ParentComponent</h3>

<ChildComponent InputAttributes="attributesFromParent" Value="Parent Value">
</ChildComponent>

@code {
    public Dictionary<string, object> attributesFromParent { get; set; } =
    new Dictionary<string, object>()
    {
            { "required", "required" },
            { "placeholder", "Parent Component Placeholder" },
            { "size", "50" },
            { "maxlength", "5" }
    };
}
