@page "/Auth/Login"
@inherits LoginBase



<h3>Login</h3>

<EditForm Model="@vm" OnSubmit="@Submit">
    <p>
        <label>用户名：</label>
        <InputText @bind-Value="vm.UserName" />
    </p>
    <p>
        <label>密码：</label>
        <InputText @bind-Value="vm.Password" />
    </p>
    <button type="submit">Submit</button>
</EditForm>

