@page "/Auth/Login"
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Mvc;
@inject NavigationManager NavigationManager
@inject UserManager<IdentityUser> _userManager
@inject SignInManager<IdentityUser> _signInManager



<h3>Login</h3>

<EditForm Model="@vm" OnSubmit="@OnSubmit">
    <p>
        <label>用户名：</label>
        <InputText @bind-Value="vm.Username" />
    </p>
    <p>
        <label>密码：</label>
        <InputText @bind-Value="vm.Password" />
    </p>
    <button type="submit">Submit</button>
</EditForm>

@code {
    private Blazor.IdentityServer.ViewModels.LoginViewModel vm = new ViewModels.LoginViewModel();

    protected override void OnInitialized()
    {
        var query = new Uri(NavigationManager.Uri).Query;

        if (QueryHelpers.ParseQuery(query).TryGetValue("{returnUrl}", out var value))
        {
            vm.ReturnUrl = value;
        }
    }
    private async Task OnSubmit()
    {
        var user = await _userManager.FindByNameAsync(vm.Username);

        if (user != null)
        {
            // sign in
            var signInResult = await _signInManager.PasswordSignInAsync(user, vm.Password, false, false);
            if (signInResult.Succeeded)
            {
                NavigationManager.NavigateTo(vm.ReturnUrl);
            }
        }
    }
}
