
@{
    ViewData["Title"] = "Index";
}

<h1>Javascript Client Index</h1>


<button onclick="signin()">SignIn</button>

<button onclick="callApi()">Call Api</button>

@*<script src="~/sign-in.js"></script>*@

<script src="https://cdnjs.cloudflare.com/ajax/libs/oidc-client/1.10.1/oidc-client.min.js"></script>

@*JavaScript HttpClient*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

<script src="~/main.js"></script>