<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>菜单</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="[ '/dashboard' ]" routerLinkActive="active-link">仪表盘</a>
      <a mat-list-item [routerLink]="['/reactiveforms']" routerLinkActive="active-link">响应式表单</a>
      <a mat-list-item [routerLink]="['/templatedriveforms']" routerLinkActive="active-link">模板驱动表单</a>
      <a mat-list-item [routerLink]="['/formvalidation']" routerLinkActive="active-link">表单验证</a>
      <a mat-list-item [routerLink]="['/dyncmiaform']" routerLinkActive="active-link">动态表单</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        
        ><!-- *ngIf="isHandset$ | async" -->
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>AngularDocs文档中的示例</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
