<div class="grid-container">
    <p class="mat-display-4">display-4</p>
    <p class="mat-display-3">display-3</p>
    <p class="mat-display-2">display-2</p>
    <p class="mat-display-1">display-1</p>
    <p class="mat-h1">mat-h1</p>
    <p class="mat-h2">mat-h2</p>
    <p class="mat-h3">mat-h3</p>
    <p class="mat-h4">mat-h4</p>
    <p class="mat-body">mat-body</p>
    <p class="mat-body-strong">mat-body-strong</p>
    <p class="mat-small">mat-small</p>
    <button>button</button>
    <input type="button" value="input" />

    <h1>This header is unstyled</h1>
    <section class="mat-typography">
        <h1>This header will be styled</h1>
        <p class="mat-h1">mat-h1</p>
        
        <h2>This header will be styled</h2>
        <p class="mat-h2">mat-h2</p>
    </section>

</div>