#accesslog{
    background-color: black;
    color:green;
    
    height: 100%;
}

#errorlog{
    background-color: black;
    color:green;
    width:30%;
    height: 100%;
}

mat-grid-tile{
    background-color:#1b1b1b
    
}
h3{
    color:green;
}