
@{
    ViewData["Title"] = "Index";
}

<h1>Client Index Page</h1>

<a href="/Home/Secret">Client Secret Page</a>
<br />
<a href="/Home/ResetCookie" style="color:red;font-size:20px">ClearCookie</a>
<br />