
@{
    ViewData["Title"] = "Secret";
}
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
<h1>Client Secret Page</h1>

<table>
    <tr>
        <th>IdentityName</th>
        <th>ClaimType</th>
        <th>ClaimValue</th>
    </tr>
    @foreach (var identity in User.Identities)
    {

        @foreach (System.Security.Claims.Claim claim in identity.Claims)
        {
            <tr>
                <td>@identity.Name</td>
                <td>@claim.Type</td>
                <td>@claim.Value</td>
            </tr>
        }

    }


</table>