
@{
    ViewData["Title"] = "Authenticate";
}

<h1>Authenticate</h1>

<form action="/Home/Authenticate" method="post">
    <span>Key:(test)</span>
    <input type="text" name="key"/>
    <button type="submit">Auth</button>
</form>