
@{
    ViewData["Title"] = "Index";
}
@inject Microsoft.AspNetCore.Authorization.IAuthorizationService authorizationService

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
@*精简验证*@
@if (User.Identity.IsAuthenticated)
{
    <p> User is Authenticated</p>
}
else
{
    <p> User not Authenticated</p>

}

<h1>Index Page</h1>
@*复杂牛刀*@
@if ((await authorizationService.AuthorizeAsync(User, null, "Claim.custom")).Succeeded)
{
    <p>User pass Claim.custom policy</p>
}
else
{
    <p>User not pass Claim.custom policy </p>
}
<a href="/Home/Secret">Secret page</a>
<br />
<a href="/Home/SecretPolicy">Secret Policy page</a>
<br />
<a href="/Home/SecretLevel">Secret Policy Level 5 page</a>
<br />
<a href="/Home/SecretHighLevel">Secret Policy Level 10 page</a>
<br />
<a href="/Home/SecretRole">Secret Role page</a>
<br />
<a href="/Home/ResetCookie">ClearCookie</a>
<br />
<table>
    <tr>
        <th>IdentityName</th>
        <th>ClaimType</th>
        <th>ClaimValue</th>
    </tr>
    @foreach (var identity in User.Identities)
    {

        @foreach (System.Security.Claims.Claim claim in identity.Claims)
        {
            <tr>
                <td>@identity.Name</td>
                <td>@claim.Type</td>
                <td>@claim.Value</td>
            </tr>
        }

    }


</table>
